@mixin headingWithStripes() {
  position: relative;
  font-size: 49px;
  line-height: 55px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 35px;
  font-weight: 300;
  &:before {
    position: absolute;
    top: 23px;
    content: "";
    left: 50%;
    margin-left: -318px;
    height: 7px;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    width: 160px;
  }
  &:after {
    position: absolute;
    top: 23px;
    content: "";
    right: 50%;
    margin-right: -318px;
    height: 7px;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    width: 160px;
  }
}
@mixin bgBlackout() {
  &:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.services {
  .heading {
    @include headingWithStripes();
  }
  .services-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 66px;
    article {
      width: 370px;
      display: inline-block;
      margin-left: 30px;
      &:first-of-type {
        margin-left: 0;
      }
      img {
        display: block;
      }
      a {
        display: block;
        font-weight: 900;
        font-size: 19px;
        line-height: 29px;
        letter-spacing: 0.020em;
        color: #dc4141;
        text-transform: uppercase;
        margin-top: 21px;
        margin-bottom: 21px;
        text-decoration: none;
        transition: color ease 0.4s;
        &:hover {
          color: #afafaf;
        }
      }
    }
  }
}
.parallax-info {
  position: relative;
  box-sizing: border-box;
  padding-top: 81px;
  padding-bottom: 40px;
  //background: black url('/images/parallax_fon.png') no-repeat center top / cover;
  min-height: 630px;
  @include bgBlackout();
  .heading {
    font-size: 75px;
    line-height: 88px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    padding-bottom: 20px;
  }
  div {
    padding-top: 15px;
    p {
      text-align: center;
      font-size: 36px;
      line-height: 48px;
      color: #ffffff;
      font-style: italic;
    }
  }
}
.events {
  .heading {
    @include headingWithStripes();
    &:before {
      margin-left: -494px;
    }
    &:after {
      margin-right: -494px;
    }
  }
  .events-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 66px;
    .event {
      width: 370px;
      display: inline-block;
      margin-left: 30px;
      &:first-of-type {
        margin-left: 0;
      }
      h3 {
        font-size: 30px;
        color: #EA3838;
      }
      .date {
        font-size: 30px;
        color: #EA3838;
      }
      .text {
        font-size: 16px;
      }
    }
  }

}
.info-block1 {
  position: relative;
  @include bgBlackout();
  padding-top: 81px;
  padding-bottom: 40px;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: #ffffff;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 500;
  }
  p {
    width: 35%;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-style: italic;
    margin-bottom: 20px;
  }
}
.map {
  height: 450px;
  background: darkslategray;
}
.reviews {
  .heading {
    @include headingWithStripes();
  }
  .reviews-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 66px;
    article {
      width: 370px;
      display: inline-block;
      margin-left: 30px;
      text-align: center;
      &:first-of-type {
        margin-left: 0;
      }
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 10px auto;
      }
    }
  }
}