block footer
  footer
    div.footer-info
      p.
        ТСК "БетонСтрой" - это команда отличных специалистов, которая успешно развивается с 2012-го года и не собирается останавливаться на достигнутом.
      p.
        Для клиентов, приобретающих большие объемы нашей продукции,действуют спциальные предложения:
      p.
        Скидки на приобретение продукции.
        <br>
        Бесплатные консультации наших специалистов,с выездом на объект строительства.
        <br>
        Мы заинтересованы в том, что наши отношения с партнерами были взаимовыгодны и стремимся сделать условия сотрудничества привлекательными для наших клиентов и поставщиков.
        <br>
        Присылайте коммерческие предложения о реализации бетона и запросы на его приобретение на электронный ящик и наши менеджеры свяжутся с вами в кратчайшие сроки.

      h3  ТСК БетонСтрой © 2017