block header
  header
    div.adress
      p Москва, Проспект Мира, д.102, строение 26.
      p +7 977 41-512-41 +7 495 789-91-21
    nav
      ul
        li
          a(href="/") Главная
        li
          a(href="/") О нас
        li
          a(href="/") Контакты
