block header
  header
    div.adress
      p Московская область, Сергиево-Посадский район, с. Шеметово, ул.Садовая, д.91
      p +7(499)130-95-01 +7(903)130-95-01
      p +7(919)270-44-17  tsk.bs@mail.ru
    nav#navbar
      ul
        li
          a(href="/") Главная
        li
          a(href="/services") Услуги
        li
          a(href="/about") О нас
        li
          a(href="/contacts") Контакты
