extends layout
block singlePageCSS
  link(rel='stylesheet', href='/stylesheets/home.css')
block content
  section.services
    h2.heading Услуги
    .services-container
      article
        img(src="/images/service1.png")
        a Бетон
      article
        img(src="/images/service2.png")
        a Нерудные материалы
      article
        img(src="/images/service3.png")
        a ЖБИ
  section.parallax-info
    h2.heading Работая с нами вы получаете:
    div
      p Точный и оперативный расчет количества и цены бетона
      p Консультацию наших специалистов по всем возникшим вопросам
      p Высокое качество продукции
      p Оперативную доставку
      p Сертификаты на всю производимую продукцию
  section.events
    h2.heading Часто заказываемые
    .events-container
      article.event
        h3 Бетон
        //p.date 11.11.2016
        p.text Появившись 30 лет назад в Америке, бетон прошел путь от малоизвестного бетона «для своих» до международного гиганта
      article.event
        h3 Нерудные материалы
        //p.date 11.11.2016
        p.text Появившись 30 лет назад в Америке, материалы прошли путь от малоизвестных материалов «для своих» до международных гигантов
      article.event
        h3 ЖБИ
        //p.date 11.11.2016
        p.text Появившись 30 лет назад в Америке, ЖБИ прошли путь от малоизвестных ЖБИ «для своих» до международных гигантов
  .info-block1
    h1 Почему покупка бетона у нас - выгодно?
    p.
      Профессиональный подход.
      <br>
      Мы предлагаем большой перечень товаров и услуг, связанных с производством качественного бетона(марки от М100 до М600) в
      полном соответствии с ГОСТ и СНИП.
    p.
      Контроль качества.
      <br>
      Наши специалисты не только следят за качеством проивзодимого раствора,
      но также стремятся внедрить в технический процесс самые современные технологии.
    p.
      Честность.
      <br>
      Мы гарантируем нашим заказчикам - низкие цены, предельно точный и быстрый расчет необходимого объёма,
      соответствие выбранной марки и заполнителя, а также количества заказанной продукции.
    p.
      Пунктуальность.
      <br>
      Доставка смеси от бетонного завода до строительного объекта в указанное заказчиком время, и контроль автотранспорта во время движения
      по GPS, гарантирует соблюдение согласованных сроков на 100%.
    p.
      Отлаженная логистика.
      <br>
      При покупке бетона в нашей компании клиенты смело могут расчитывать на оперативную доставку в любую точку Москвы и Московской  области,
      с гарантией 100% сохранности всех его рабочих характеристик.
    p.
      Оперативность.
      <br>
      Мы гарантируем - быстрый расчёт стоимости заказа с доставкой в течении 5 минут!
      Подготовка договора и платёжных документов, составление и согласование графика поставки продукции - в день обращения.

  section.map
    script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0qH3KGA5gbR_DOdIlL8fekIDcdh4Ha9C&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true")




  section.reviews
    h2.heading Отзывы
    .reviews-container
      article
        img(src="/images/user1.jpg")
        p.
          Заказывал цементный раствор некоторое время назад.
          Порадовала быстрая доставка и цена продукта! Сотрудники грамотно подходят к выполнению своих задач.
          Спасибо компании "Бетон Строй" за качественный продукт.
          Иваницкий Андрей.
      article
        img(src="/images/user2.jpg")
        p.
          Добрый день. Хотел поблагодарить компанию "Бетон Строй" за сотрудничество. Ребята опытные, профессионалы своего дела. Заказывал для себя и буду советовать знакомым.
          Игорь Курченков.
      article
        img(src="/images/user3.jpg")
        p.
          Приятно удивили цена и качество продукта. Работаю в строительной компании и приходилось сотрудничать со многими организациями, но на этой я, пожалуй, остановлюсь. Спасибо сотрудникам за профессионализм и грамотный подход к делу.
          Ольга Валерьевна Епифанцева.
  script.

      $(document).ready(function () {

          $('.parallax-info').parallax({imageSrc: '/images/1.png'});
          $('.info-block1').parallax({imageSrc: '../images/2.png'});

      })

