doctype html
html
  head
    title Бетон-шмебетон
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:light")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/elements/header.css')
    link(rel='stylesheet', href='/stylesheets/elements/footer.css')
    block singlePageCSS
    script(src="/javascripts/jquery-1.12.4.js")
    script(src="/javascripts/parallax.js")
  body
    include elements/header
    block content
    include elements/footer
    style.
      .navbar-fixed {
        position: fixed;
        top: -88px;
        background: rgba(0, 0, 0, 0.9);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    script.
        (function ($) {
            "use strict";

            var $navbar = $("#navbar"),
                y_pos = $navbar.offset().top,
                height = $navbar.height();

            $(document).scroll(function () {
                var scrollTop = $(this).scrollTop();

                if (scrollTop > y_pos + height) {
                    $navbar.addClass("navbar-fixed").animate({
                        top: 0
                    });
                } else if (scrollTop <= y_pos) {
                    $navbar.removeClass("navbar-fixed").clearQueue().animate({
                        top: "-48px"
                    }, 0);
                }
            });

        })(jQuery, undefined);